{% capture next %}NO{% endcapture %}

{% if include.children %}
{% else %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.children %}
        {% if article.path == include.pagepath %}
          {% capture next %}handbook/{{ article.children | first }}{% endcapture %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if next == "NO" %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.children %}
        {% for child in article.children %}
          {% capture childpath %}handbook/{{ child }}{% endcapture %}
          {% if next == "YES" %}
            {% capture next %}{{ childpath }}{% endcapture %}
          {% endif %}
          {% if childpath == include.pagepath %}
            {% capture next %}YES{% endcapture %}
          {% endif %}
        {% endfor %}
        {% if next == "YES" %}
          {% if article.path != include.pagepath %}
            {% include _handbook_next.html pagepath=article.path children='NO' %}
          {% endif %}
          {% capture next %}NO{% endcapture %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}


{% if next == "NO" or next == "YES" %}
&nbsp;
{% else %}
  {% include _handbook_link.html pagepath=next %}
  <i class="fa fa-angle-double-right"></i>
{% endif %}

        

