{% if {{include.pagepath}} %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.path == include.pagepath %}
        {% if include.pagepath != page.path %}
  <li><a href='{{ article.url }}'>{{ article.title }}</a></li>
        {% endif %}
        {% if article.children %}
<ul>
          {% for child in article.children %}
            {% capture childpath %}handbook/{{ child }}{% endcapture %}
            {% include _handbook_contents.html pagepath=childpath %}
          {% endfor %}
</ul>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
  {% include _handbook_contents.html pagepath=page.path %}
{% endif %}
