{% if {{include.pagepath}} %}
  {% capture depth %}{% if include.depth %}{{ include.depth | plus: 1}}{% else %}0{% endif %}{% endcapture %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.path == include.pagepath %}
        {% if include.pagepath != page.path and include.pagepath != "handbook/index.md" %}
          {% if include.h4 %}
  <li class='bigsection'><a href='{{ article.url }}'>{{ article.title }}</a></li>
          {% else %}
  <li><a href='{{ article.url }}'>{{ article.title }}</a></li>
          {% endif %}
        {% endif %}
        {% if article.children %}
          {% if include.maxdepth %} 
            {% capture maxdepth %}{{ include.maxdepth | plus: 0}}{% endcapture %}
            {% if depth < maxdepth %}
<ul>
            {% for child in article.children %}
              {% capture childpath %}handbook/{{ child }}{% endcapture %}
              {% if include.pagepath == "handbook/index.md" %}
                {% include _handbook_contents.html pagepath=childpath depth=depth maxdepth=maxdepth h4=1 %}
              {% else %}
                {% include _handbook_contents.html pagepath=childpath depth=depth maxdepth=maxdepth %}
              {% endif %}
            {% endfor %}
</ul>
            {% endif %}
          {% else %}
<ul>
            {% for child in article.children %}
              {% capture childpath %}handbook/{{ child }}{% endcapture %}
              {% if include.pagepath == "handbook/index.md" %}
                {% include _handbook_contents.html pagepath=childpath depth=depth h4=1 %}
              {% else %}
                {% include _handbook_contents.html pagepath=childpath depth=depth %}
              {% endif %}
            {% endfor %}
</ul>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% capture depth %}{{ depth | plus: -1}}{% endcapture %}
{% else %}
  {% include _handbook_contents.html pagepath=page.path depth=0 %}
{% endif %}
