{% if {{include.pagepath}} %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.children %}
        {% for child in article.children %}
          {% capture childpath %}handbook/{{ child }}{% endcapture %}
          {% if childpath == include.pagepath %}
            {% include _handbook_parent.html pagepath=article.path %}
            <a href='{{article.url}}'>{{article.title}}</a>
            <i class="fa fa-angle-double-right"></i>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
  <div class='handbooknav'>
  {% include _handbook_parent.html pagepath=page.path %}
  {{ page.title }}
  </div>
{% endif %}
