{% capture out %}{% endcapture %}{% capture null %}
  {% for article in site.pages %}
    {% if article.layout == "handbook" %}
      {% if article.path == include.pagepath %}
        {% if article.children %}
          {% capture lastchild %}handbook/{{ article.children | last }}{% endcapture %}
          {% capture out %}{% include _handbook_lastchild.html pagepath=lastchild %}{% endcapture %}
        {% else %}
          {% capture out %}{{ article.path }}{% endcapture %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}{{ out }}